

h1{
	color: #0E1961; 
	font-family: "Baskerville"; 
	font-weight: bold; 
}

li{
	font-family: Times New Roman; 
	padding-bottom: 8px; 
}

.head{
	color: #0E1961; 
	font-family: "Baskerville"; 
	font-weight: bold; 
}
